# 个贷违约预测

## 1. 数据预处理

### 1.1 导入数据

In [1]:
import numpy as np
import pandas as pd
data=pd.read_csv('./data.csv')

### 1.2 查看数据

In [6]:
#查看前5行
data.head()

,loan_id,user_id,total_loan,year_of_loan,interest,monthly_payment,class,employer_type,industry,work_year,...,use,debt_loan_ratio,del_in_18month,known_outstanding_loan,known_dero,pub_dero_bankrup,early_return,early_return_amount,early_return_amount_3mon,isDefault
0,1040418,240418,31818.18182,3,11.466,1174.91,C,政府机构,金融业,3 years,...,2,2.430000,0,3,0,0.0,3,9927,0.0,0
1,1025197,225197,28000.00000,5,16.841,670.69,C,政府机构,金融业,10+ years,...,0,11.004545,1,3,0,0.0,0,0,0.0,0
2,1009360,209360,17272.72727,3,8.900,603.32,A,政府机构,公共服务、社会组织,10+ years,...,4,6.409091,0,5,0,0.0,0,0,0.0,0
3,1039708,239708,20000.00000,3,4.788,602.30,A,世界五百强,文化和体育业,6 years,...,0,9.204545,0,3,0,0.0,0,0,0.0,0
4,1027483,227483,15272.72727,3,12.790,470.31,C,政府机构,信息传输、软件和信息技术服务业,< 1 year,...,0,15.578182,0,15,0,0.0,0,0,0.0,0

In [2]:
#数据维度
data.shape

(10000, 22)

In [9]:
#数据整体情况
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   loan_id                   10000 non-null  int64
 1   user_id                   10000 non-null  int64
 2   total_loan                10000 non-null  float64
 3   year_of_loan              10000 non-null  int64
 4   interest                  10000 non-null  float64
 5   monthly_payment           10000 non-null  float64
 6   class                     10000 non-null  object
 7   employer_type             10000 non-null  object
 8   industry                  10000 non-null  object
 9   work_year                 9378 non-null   object
 10  house_exist               10000 non-null  int64
 11  issue_date                10000 non-null  object
 12  use                       10000 non-null  int64
 13  debt_loan_ratio           10000 non-null  float64
 14  del_in_18month            10000 non-null  int64
 15  known_outstanding_loan    10000 non-null  int64
 16  known_dero                10000 non-null  int64
 17  pub_dero_bankrup          9993 non-null   float64
 18  early_return              10000 non-null  int64
 19  early_return_amount       10000 non-null  int64
 20  early_return_amount_3mon  10000 non-null  float64
 21  isDefault                 10000 non-null  int64
dtypes: float64(6), int64(11), object(5)
memory usage: 1.7+ MB

In [3]:
#查看数据统计信息
data.describe()

,loan_id,user_id,total_loan,year_of_loan,interest,monthly_payment,house_exist,use,debt_loan_ratio,del_in_18month,known_outstanding_loan,known_dero,pub_dero_bankrup,early_return,early_return_amount,early_return_amount_3mon,isDefault
count,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,9993.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,1.025210e+06,225209.587700,14402.126591,3.479600,13.222782,436.960427,0.612200,1.762600,17.532170,0.311600,11.645000,0.226400,0.138997,1.290600,2173.916100,335.232240,0.168300
std,1.438682e+04,14386.820956,8953.946807,0.853965,4.875755,261.754396,0.672203,2.392031,14.218509,0.872457,5.500745,0.607931,0.379089,1.449469,3027.539977,635.108825,0.374151
min,1.000008e+06,200008.000000,818.181818,3.000000,4.779000,30.440000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.012973e+06,212973.250000,7500.000000,3.000000,9.702000,248.820000,0.000000,0.000000,11.157955,0.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.025276e+06,225276.500000,12272.727270,3.000000,12.639000,371.525000,1.000000,0.000000,16.652273,0.000000,11.000000,0.000000,0.000000,1.000000,838.500000,0.000000,0.000000
75%,1.037694e+06,237694.500000,19636.363640,3.000000,15.985500,573.830000,1.000000,4.000000,22.781591,0.000000,14.000000,0.000000,0.000000,3.000000,3354.250000,413.675000,0.000000
max,1.049997e+06,249997.000000,47272.727270,5.000000,33.979000,1503.890000,4.000000,13.000000,999.000000,15.000000,59.000000,12.000000,5.000000,5.000000,18413.000000,5523.900000,1.000000

### 1.3 检查数据质量

In [5]:
#查看数据缺失情况
data.isnull().sum()

loan_id                       0
user_id                       0
total_loan                    0
year_of_loan                  0
interest                      0
monthly_payment               0
class                         0
employer_type                 0
industry                      0
work_year                   622
house_exist                   0
issue_date                    0
use                           0
debt_loan_ratio               0
del_in_18month                0
known_outstanding_loan        0
known_dero                    0
pub_dero_bankrup              7
early_return                  0
early_return_amount           0
early_return_amount_3mon      0
isDefault                     0
dtype: int64

work_year与pub_dero_bankrup数据存在缺失，可尝试缺失值补全。