# 数据预处理

In [2]:
#导入数据
import pandas as pd
data = pd.read_csv(r'E:\本科\数据挖掘与商务分析\hw\final\Yelp\sample\restaurants_at_pa.txt', sep='\t')
data.head()

,business_id,name,address,latitude,longitude,stars,review_count,is_open,categories
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,39.955505,-75.155564,4.0,80,1,"Food, Bubble Tea, Coffee & Tea, Bakeries"
1,MUTTqe8uqyMdBl186RmNeA,Tuna Bar,205 Race St,39.953949,-75.143226,4.0,245,1,"Sushi Bars, Japanese"
2,ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,39.943223,-75.162568,4.5,205,1,Korean
3,QdN72BWoyFypdGJhhI5r7g,Bar One,767 S 9th St,39.939825,-75.157447,4.0,65,0,"Cocktail Bars, Bars, Italian, Nightlife"
4,Mjboz24M9NlBeiOJKLEd_Q,DeSandro on Main,4105 Main St,40.022466,-75.218314,3.0,41,0,"Pizza, Salad, Soup"

In [ ]:
#查看数据详情
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5852 entries, 0 to 5851
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   5852 non-null   object
 1   name          5852 non-null   object
 2   address       5825 non-null   object
 3   latitude      5852 non-null   float64
 4   longitude     5852 non-null   float64
 5   stars         5852 non-null   float64
 6   review_count  5852 non-null   int64
 7   is_open       5852 non-null   int64
 8   categories    5829 non-null   object
dtypes: float64(3), int64(2), object(4)
memory usage: 411.6+ KB

In [ ]:
#填充空值
data['categories'] = data['categories'].fillna('Unknown')
data['address'] = data['address'].fillna('Unknown')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5852 entries, 0 to 5851
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   5852 non-null   object
 1   name          5852 non-null   object
 2   address       5852 non-null   object
 3   latitude      5852 non-null   float64
 4   longitude     5852 non-null   float64
 5   stars         5852 non-null   float64
 6   review_count  5852 non-null   int64
 7   is_open       5852 non-null   int64
 8   categories    5852 non-null   object
dtypes: float64(3), int64(2), object(4)
memory usage: 411.6+ KB

In [5]:
#导出数据
data.to_csv('data.csv', index=False)